@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 CSS for the main interaction
*/

  /*
   Styling
  */


  
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

  
 
 
  
  h1 {
    margin: 0 0 1.5em;
    font-weight: 600;
    font-size: 1.5em;
  }


  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    font-family: 'Anonymous Pro', monospace;  
   
}

/* Animation */
.anim-typewriter{
  animation: typewriter 6s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}



@media (max-width: 767px) {
    .navicon {
      width: 1.125em;
      height: .125em;
    }
  
    .navicon::before,
    .navicon::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all .2s ease-out;
      content: '';
      background: #3D4852;
    }
  
    .navicon::before {
      top: 5px;
    }
  
    .navicon::after {
      top: -5px;
    }
  
    .menu-btn:not(:checked) ~ .menu {
      display: none;
    }
  
    .menu-btn:checked ~ .menu {
      display: block;
    }
  
    .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent;
    }
  
    .menu-btn:checked ~ .menu-icon .navicon::before {
      transform: rotate(-45deg);
    }
  
    .menu-btn:checked ~ .menu-icon .navicon::after {
      transform: rotate(45deg);
    }
  
    .menu-btn:checked ~ .menu-icon .navicon::before,
    .menu-btn:checked ~ .menu-icon .navicon::after {
      top: 0;
    }
  }
  
  .foto{
      margin-left: 60%;
      width: 200px;
  }

  @import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

div.c{
  position: relative;
  margin:1em;
  background-color: white;
}
input{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: 0;
}
h1{
  color:black;
  padding:1em;
  position: relative;
  font-family: "Montserrat", sans-serif;

}
label::before{
  content:"";
  display: inline-block;
  border: 15px solid transparent;
  border-left:20px solid black;
}
label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.p{
  max-height:0px;
  overflow: hidden;
  transition:max-height 0.5s;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
}
div.p p {
  padding:2em;
}
input:checked ~ h1 label::before{
  border-left:15px solid transparent;
  border-top:20px solid black;
  margin-top:12px;
  margin-right:10px;
}
input:checked ~ h1 ~ div.p{
  max-height:100px;
}


  

#foto{
  position: absolute;
  width: 170px;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
}



.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-40vmin, 5vmin);
}

.en {
  color: #fa8231;
}

.es {
  color: white;
}

.de {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}

ol{
  list-style: numbers;
  background-color: rgb(0, 19, 48);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 0.34rem;
  font-weight: 600;
}